<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<table style="text-align:center;margin: 0 auto">
  <tr>
    <th>{{_dataService.num}}</th>
    <th>Availability</th>
    <th>Server Count</th>
    <th>Vulnerability(Open)</th>
    <th>Vulnerability(Closed)</th>
    <th>Important Update</th>
  </tr>
  <tr>
    <th>Virtualization</th>
    <td><i class="material-icons">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>43</td>
      <td>48</td>
      <td>NA</td>
  </tr>
  <tr>
    <th>HPC</th>
    <td><i class="material-icons" style="color:green">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>54</td>
      <td>12</td>
      <td>NA</td>
  </tr>
  <tr>
    <th>Linux</th>
    <td><i class="material-icons" style="color:yellow">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>35</td>
      <td>89</td>
      <td>NA</td>
  </tr>
  <tr>
    <th>DB</th>
    <td><i class="material-icons" style="color:aqua">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>34</td>
      <td>78</td>
      <td>NA</td>
  </tr>
  <tr>
    <th>Storage & Backup</th>
    <td><i class="material-icons" style="color:orange">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>76</td>
      <td>65</td>
      <td>NA</td>
  </tr>
  <tr>
    <th>Deep Learning</th>
    <td><i class="material-icons" style="color:green">
      fiber_manual_record
      </i></td>
      <td>Active: 34 Free: 23</td>
      <td>67</td>
      <td>32</td>
      <td>NA</td>
  </tr>
</table>